
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>หน้าหลัก</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('navbar') %>
   <div class="container" style="justify-content:center ; display: flex; align-items: center; height:50vh;background-color: #F1F1F1;">
      <div class="container" style="align-items: center;background-color: #F1F1F1;">
        <h1><b style="color: black;">ค้นพบโอกาสงานในฝันของคุณที่นี่</b></h1>
        <p class="mt-4">
          ค้นพบงานในทุกสาขาอาชีพและทุกระดับของประสบการณ์
          พบกับงานใหม่ๆ <br />
          ที่อัพเดทตลอดเวลา
          ใช้ฟิลเตอร์ค้นหางานที่เหมาะกับคุณได้ง่ายๆ
        </p>
      </div>
      <img src="image/FINDJOB-Photoroom.png-Photoroom.png" width="35%" alt="Description of the image">
    </div>
    <div class="container-fluid background"
      style="justify-content:center ; display: flex; align-items: center; height:40vh;">
      <div class="container card-container" style="background-color: transparent;">
        <div class="card-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
            class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
          <p class="mt-2">งานทั้งหมด</p>
          <h1><b>97,354</b></h1>
        </div>
        <div class="card-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
            class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
          <p class="mt-2">งานใหม่</p>
          <h1><b>97,354</b></h1>
        </div>
        <div class="card-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
            class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
          <p class="mt-2">บริษัท</p>
          <h1><b>97,354</b></h1>
        </div>
        <div class="card-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
            class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
          </svg>
          <p class="mt-2">ผู้ใช้งาน</p>
          <h1><b>97,354</b></h1>
        </div>
      </div>
    </div>
    <div class="container mt-5" style="background-color: #F1F1F1;">
      <h3><b>งานที่แนะนำ</b></h3>
      <% if(jobindex.length > 0) { %>
        <div class="container index-card-container mt-5" style="background-color: #F1F1F1;">
          <% jobindex.forEach((jobindex)=> {%>
            <% if( jobindex !=undefined) { %>
              <div class="index-card-item">
                <a style="color: black;" href="/company/jobbyidjob/<%= jobindex.idjob_company %>">
                  <img class="card-img-top" src="/image/<%= jobindex.image %>" alt="Card image cap">
                  <p class="mt-1">
                    <%= jobindex.name_company %>
                  </p>
                  <b class="mt-1" style="font-size: 18px;">
                    <%= jobindex.name_job %>
                  </b>
                  <p class="mt-1">
                    <%= jobindex.detail_work.substring(0, 20) %>
                  </p>
                  <div style="display: flex; align-items: center;">
                    <box class="index-card-text"
                      style="color: #ff0000; background-color: #FFDBDB; padding: 5px; padding-left: 15px; padding-right: 15px; border-radius: 3px;">
                      หมดเขต</box>
                    <b class="ms-3" style="color: #767F8C;">
                      <%= jobindex.deadline_offer %>
                    </b>
                  </div>
                </a>
              </div>
            <% } %>
          <% }); %>
        </div>
      <% } else { %>
        <p>ไม่มีข้อมูล</p>
      <% } %>
    </div>
    <%- include('Footer') %>
</body>

</html>
