<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('navbar', { status: status}) %>
  <form action="/company/searchcompany" method="post">
    <input type="text" name="searchcompany" placeholder="Enter search query" required>
    <button type="submit">Search</button>
</form>

    <% if(status==="loggedIn") { %>
      
      <% if(user) { %>
        <% if(jobindex.length > 0) { %>
          <% jobindex.forEach((jobindex) => {%>
            <% if( jobindex != undefined) { %>
         
        <div class="container-sm-width bg-dark ">
          <div class="container bg-primary px-4">
            <div class="row gx-5">
              <div class="col-3 p-4 border bg-light">

                <div class="card  text-center" style="width: 15rem;">
                  <img class="card-img-top" src="./image/AIS.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text"><%= jobindex.name_company %></p>   
                  </div>
                </div>

              </div>

              <div class="col-sm-8 p-4 border bg-light">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><%= jobindex.name_job %></h5>
                    <p class="card-text"><%= jobindex.detail_work %></p>
                    <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">detailjob</a>
                    <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">applyjob</a>
                    <a class="card-title"><%= jobindex.deadline_offer %> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } else { %>
            <p> something wrong </p>
           <% } %>
      
        <% }) %>
      <% } else { %> 
          <p> no data</p>
          <% } %>

          <% } else if(company) { %>
            <% if(jobindex.length > 0) { %>
              <% jobindex.forEach((jobindex) => {%>
                <% if( jobindex != undefined) { %>
             
            <div class="container-sm-width bg-dark ">
              <div class="container bg-primary px-4">
                <div class="row gx-5">
                  <div class="col-3 p-4 border bg-light">
    
                    <div class="card  text-center" style="width: 15rem;">
                      <img class="card-img-top" src="./image/AIS.png" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text"><%= jobindex.name_company %></p>  
                      </div>
                    </div>
    
                  </div>
    
                  <div class="col-sm-8 p-4 border bg-light">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><%= jobindex.name_job %></h5>
                        <p class="card-text"><%= jobindex.detail_work %></p>
                        <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">detailjob</a>
                        <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">apply</a>
                        <a class="card-title"><%= jobindex.deadline_offer %> </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } else { %>
                <p> something wrong </p>
               <% } %>
          
            <% }) %>
          <% } else { %> 
              <p> no data</p>
              <% } %>
            <% } else { %>

              <% if(jobindex.length > 0) { %>
                <% jobindex.forEach((jobindex) => {%>
                  <% if( jobindex != undefined) { %>
               
              <div class="container-sm-width bg-dark ">
                <div class="container bg-primary px-4">
                  <div class="row gx-5">
                    <div class="col-3 p-4 border bg-light">
      
                      <div class="card  text-center" style="width: 15rem;">
                        <img class="card-img-top" src="./image/AIS.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text"><%= jobindex.name_company %></p>   
                        </div>
                      </div>
      
                    </div>
      
                    <div class="col-sm-8 p-4 border bg-light">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><%= jobindex.name_job %></h5>
                          <p class="card-text"><%= jobindex.detail_work %></p>
                          <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">detailjob</a>
                          <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">apply</a>
                          <a class="card-title"><%= jobindex.deadline_offer %> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } else { %>
                  <p> something wrong </p>
                 <% } %>
            
              <% }) %>
            <% } else { %> 
                <p> no data</p>
                <% } %>
              <% } %>

    <% } else { %>
      <% if(jobindex.length > 0) { %>
        <% jobindex.forEach((jobindex) => {%>
          <% if( jobindex != undefined) { %>
       
      <div class="container-sm-width bg-dark ">
        <div class="container bg-primary px-4">
          <div class="row gx-5">
            <div class="col-3 p-4 border bg-light">

              <div class="card  text-center" style="width: 15rem;">
                <img class="card-img-top" src="./image/AIS.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><%= jobindex.name_company %></p>
 
                </div>
              </div>

            </div>

            <div class="col-sm-8 p-4 border bg-light">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= jobindex.name_job %></h5>
                  <p class="card-text"><%= jobindex.detail_work %></p>
                  <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">detailjob</a>
                  <a href="/company/jobbyidjob/<%= jobindex.idjob_company %>" class="btn btn-primary ">apply</a>
                  <a class="dropdown-item" href="/registerUser">RegisterUser</a>
                  <a class="card-title"><%= jobindex.deadline_offer %> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } else { %>
          <p> something wrong </p>
         <% } %>
    
      <% }) %>
    <% } else { %> 
        <p> no data</p>
        <% } %>
        <% } %>



</body>

</html>