<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Jobjab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-auto">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        
        <li class="nav-item dropdown me-auto ms-auto">
          <li class="nav-item dropdown me-auto ms-auto">
            <% if (status === "loggedIn") { %> <!-- Check if the status is "loggedIn" -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
            <%= member.username %> <!-- Access the email property of the member -->
            </a>
          <% }
          
          
          else { %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </a>
          <% } %>
          <% if (status === "loggedIn" && company.id_company!=undefined) { %> <!-- Check if the status is "loggedIn" -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" href="/user/profile/<%= member.id_member %>">Profile</a></li>
              <li><a class="dropdown-item" href="/user/resume/<%= users.id_user %>">Resume</a></li> -->
              <li><a class="dropdown-item" href="/company/profile/<%= member.id_member %>">Profile</a></li>
              <li><a class="dropdown-item" href="/company/job_company/<%= company.id_company %>">Job</a></li>
              <li><a class="dropdown-item" href="/forgetpassword/<%= company.id_company %>">forget</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          <% } 

           if (status === "loggedIn" && user.id_user!=undefined) { %> <!-- Check if the status is "loggedIn" -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/user/profile/<%= member.id_member %>">Profile</a></li>
              <li><a class="dropdown-item" href="/user/resume/<%= users.id_user %>">Resume</a></li>
              <!-- <li><a class="dropdown-item" href="/company/profile/<%= member.id_member %>">Profile</a></li>
              <li><a class="dropdown-item" href="/company/job_company/<%= company.id_company %>">Job</a></li> -->
              <li><a class="dropdown-item" href="/forgetpassword/<%= users.id_user  %>">forget</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          <% } 
          
          
          
          
          
          
          
          
          
          else { %>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <!-- Comment: Displayed if the user is not logged in -->
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/registerUser">RegisterUser</a></li>
              <li><a class="dropdown-item" href="/registerCompany">RegisterCompany</a></li>
            </ul>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>