


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= webpage[0].namepage %></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown me-auto ms-auto">
          <% if (status === "loggedIn" ) { %> <!-- Check if the status is "loggedIn" -->
            <% if (user) { %>
        <li class="nav-item me-auto">
          <a class="nav-link" href="/user/addresume/<%= user.id_user %>">Article</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link" href="/user/updateresume/<%= user.id_user %>">JobSearch</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link" href="/user/addresume/<%= user.id_user %>">Resume</a>
        </li>
        <!-- <li class="nav-item me-auto">
                    <a class="nav-link" href="/user/updateresume/<%= user.id_user %>">historysumitjob</a>
                  </li> -->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownuser" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <%= user.username %>
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdownuser">
          <li><a class="dropdown-item" href="/user/profile/<%= user.id_user %>">Profile</a></li>
          <li><a class="dropdown-item" href="/user/resetpassword/<%= user.id_user %>">ResetPassword</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
          <!-- แก้ไขเว็ปได้ยังไม่ได้ทำ -->
        </ul>

        <% } else if(company){ %>

          <li class="nav-item me-auto">
            <a class="nav-link" href="/company/addjob_company/<%= company.id_company %>">Article</a>
          </li>
          <li class="nav-item me-auto">
            <a class="nav-link" href="/company/addjob_company/<%= company.id_company %>">JobSerach(ค้นหาบริษัท)</a>
          </li>
          <!-- <li class="nav-item me-auto">
            <a class="nav-link" href="/company/addjob_company/<%= company.id_company %>">Job</a>
          </li> -->
          <li class="nav-item me-auto">
            <a class="nav-link" href="/company/addjob_company/<%= company.id_company %>">AddJob</a>
          </li>
          <li class="nav-item me-auto">
            <a class="nav-link" href="/company/joball/<%= company.id_company %>">Myjob</a>
          </li>

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowncompany" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <%= company.username %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdowncompany">
            <li><a class="dropdown-item" href="/company/profile/<%= company.id_company %>">Profile</a></li>
            <li><a class="dropdown-item" href="/forgetpassword/<%= company.id_company %>">Forget</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>

          <% } else if(admin){ %>
            <li class="nav-item me-auto">
              <a class="nav-link" href="/admin/companymanagement/<%= admin.id_admin %>">companymanagement</a>
            </li>
            <li class="nav-item me-auto">
              <a class="nav-link" href="/admin/usermanagement/<%= admin.id_admin %>">usermanagement</a>
            </li>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownadmin" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <%= admin.username %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownadmin">
              <li><a class="dropdown-item" href="/admin/profile/<%= admin.id_admin %>">Profile</a></li>
              <li><a class="dropdown-item" href="/admin/webpage/<%= admin.id_admin %>">EditWeb</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              <!-- แก้ไขเว็ปได้ยังไม่ได้ทำ -->
            </ul>
            <% } %>

              <% } else { %>
                <li class="nav-item me-auto">
                  <a class="nav-link" href="#">Article</a>
                </li>
                <li class="nav-item me-auto">
                  <a class="nav-link" href="#">JobSerach(ค้นหาบริษัท)</a>
                </li>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  <li><a class="dropdown-item" href="/registeruser">RegisterUser</a></li>
                  <li><a class="dropdown-item" href="/registercompany">RegisterCompany</a></li>
                </ul>
                <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>