<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Jobjab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-auto">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item me-auto">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        
        <li class="nav-item dropdown me-auto ms-auto">
          <li class="nav-item dropdown me-auto ms-auto">
            <% if (status ==="loggedIn") { %> <!-- Check if the status is "loggedIn" -->
              <% if (user) { %> 
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= user.username %> <!-- Access the email property of the member --></a>
              <% } else if(company){ %>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"aria-expanded="false"><%= company.username %> <!-- Access the email property of the member --></a>
                  <% } else { %>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"aria-expanded="false"><%= admin.username %> <!-- Access the email property of the member --></a>
                      <% } %>


                <% if (user) { %> <!-- Check if the status is "loggedIn" -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/user/profile/<%= user.id_user %>">Profile</a></li>
                      <li><a class="dropdown-item" href="/user/addresume/<%= users.id_user %>">Resume</a></li>
                      <li><a class="dropdown-item" href="/user/updateresume/<%= users.id_user %>">historysumitjob</a></li>
                
                      <li><a class="dropdown-item" href="/forgetpassword/<%= users.id_user  %>">forget</a></li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                <% } else if(company){ %>
                      <!-- Check if the status is "loggedIn" -->
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">                      
                        <li><a class="dropdown-item" href="/company/profile/<%= company.id_company %>">Profile</a></li>
                        <li><a class="dropdown-item" href="/company/addjob_company/<%= company.id_company %>">Job</a></li>
                        <li><a class="dropdown-item" href="/company/getjoball/<%= company.id_company %>">historysumitjob</a></li>
                        <li><a class="dropdown-item" href="/forgetpassword/<%= company.id_company %>">forget</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                      </ul>
                    <% } else if(admin){ %>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">       
                       
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                      </ul>
                      <% } %>


            <% } else { %>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                  <!-- Comment: Displayed if the user is not logged in -->
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  <li><a class="dropdown-item" href="/registerUser">RegisterUser</a></li>
                  <li><a class="dropdown-item" href="/registerCompany">RegisterCompany</a></li>
                  <li><a class="dropdown-item" href="/registerAdmin">RegisterAdmin</a></li>
                  </ul>
                <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>