<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('navbar') %>
  
  <div class="card">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <% if (usermanage.length > 0) { %>
        <thead>
          <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User ID</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Image</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">status</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ban</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Unban</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% usermanage.forEach((user) => { %>
          <tr>
            <td>
              <div class="d-flex px-2">
                <div>
                  <%= user.id_user %>
                </div>
              </div>
            </td>
            <td>
              <img src="/image/<%= user.image %>" class="avatar avatar-sm rounded-circle me-2">

            </td>

            <td class="align-middle text-center">
              <div class="d-flex align-items-center">
                <b><%= user.username %></b>
              </div>
            </td>
            
            <td class="align-middle text-center">
              <div class="d-flex align-items-center">
                <span class="me-2 "><%= user.email %></span>
              </div>
            </td>
            <td class="align-middle text-center">
              <div class="d-flex align-items-center">
                <span class="me-2 text-xs"><%= user.status %></span>
              </div>
            </td>
            <td class="align-middle text-center">
              <div class="d-flex align-items-center">
                <form action="/admin/ban/<%= user.id_user %>" method="post">
                  <input type="hidden" name="id" value="<%= user.id_user %>">
                  <button type="submit" name="action" class="btn btn-outline-danger" value="ban">Ban User</button>
                </form>
              </div>
            </td>
            <td class="align-middle text-center">
              <div class="d-flex align-items-center">
                <form action="/admin/unban/<%=  user.id_user %>" method="post">
                  <input type="hidden" name="id" value="<%= user.id_user %>">
                  <button type="submit" name="action" class="btn btn-outline-dark" value="unban">Unban User</button>
                </form>
              </div>
            </td>
            
  
          
  
          <% }); %>
        </tbody>
        <% } %>
      </table>
    </div>
    </div>

    




</body>

</html>